/* basic */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

.content{
    padding: 20px;
}