
/* basic */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

/* header */
header{
    width: 100%;
    position: fixed;
    background-color: white;
}


.header__logo{
    width: 130px;
    height: 75px;
    margin-top: 10px;
}

/* main header */
.main-header{
    position: relative;
}

.main-header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.5);
}

.main-header__content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 0.5s;
}

.main-header__heading{
    font-size: 22px;
    color: black;
    font-family: "Roboto Black", sans-serif;
}

.main-header__perex{
    font-style: italic;
    color: black;
    font-size: 18px;
    font-weight: 350;
}

.main-header__button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    max-width: 180px;
    width: 100%;
    text-align: center;
}

.main-header__button p{
    font-family: "Roboto Black" , sans-serif;
    font-size: 14px;
}

.main-header__button:hover {
    background-color: darkred;
}

/* quote */

.quote{
    width: 100%;
    display: flex;
    justify-content: center;
}

.quote__texts{
    max-width: 500px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.quote__heading{
    font-family: "Roboto Black" , sans-serif;
}

/* responsive part */

/*
  xs: 0,
  sm: 650,
  md: 900,
  lg: 1200,
  xl: 1600
*/

/* xs */
@media only screen and (min-width: 0px){

    header{
        display: flex;
        justify-content: center;
    }

    .main-header{
        height: auto;
    }

    .main-header__figure{
        position: relative;
        height: 100vh;
        padding-top: 85px;
        margin-bottom: 30px;
    }

    .main-header__img{
        object-position: 65%;
    }

    .main-header__content{
        height: auto;
        position: absolute;
        top:50%;
        gap: 30px;
        padding: 20px;
        text-align: center;
    }

    .main-header__heading{
        color: white;
    }

    .main-header__button{
        margin: 0 auto;
    }

}

/*sm*/
@media only screen and (min-width: 650px){

    header{
        display: block;
    }

    .header__link{
        margin-left: 30px;
    }

    .main-header{
        height: 100%;
    }

    .main-header__heading{
        margin-top: 120px;
        font-size: 28px;
        color: white;
    }

    .main-header__perex{
        font-size: 20px;
        color: white;
        font-weight: 400
    }

}

/* md */
@media only screen and (min-width: 900px){



}

/* lg */
@media only screen and (min-width: 1200px){

    .main-header__heading{
        font-size: 32px;
    }
}

/* xl */
@media only screen and (min-width: 1600px){

    .main-header__heading{
        font-size: 45px;
    }

    .main-header__perex{
        font-size: 22px;
    }
}


