/* main header */
.main-header{
    position: relative;
}

.main-header__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(0.5);
}

.main-header__content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease 0.5s;
}

.main-header__heading{
    font-size: 1.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}


.main-header__button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    max-width: 180px;
    width: 100%;
    text-align: center;
}

.main-header__button p{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.main-header__button:hover {
    background-color: darkred;
}


/*
  xs: 0,
  sm: 650,
  md: 900,
  lg: 1200,
  xl: 1600
*/

/* xs */
@media only screen and (min-width: 0px){

    .main-header{
        height: auto;
    }

    .main-header__figure{
        position: relative;
        height: 100vh;
        margin-bottom: 30px;
    }

    .main-header__img{
        object-position: 65%;
    }

    .main-header__content{
        height: auto;
        position: absolute;
        top:50%;
        gap: 30px;
        padding: 20px;
        text-align: center;
    }

    .main-header__heading{
        color: white;
    }

    .main-header__button{
        margin: 0 auto;
    }

}

/*sm*/
@media only screen and (min-width: 650px){

    .main-header{
        height: 100%;
    }

    .main-header__heading{
        margin-top: 20px;
        color: white;
    }

    .main-header__perex{
        font-size: 20px;
        color: white;
        font-weight: 400
    }

}

/* md */
@media only screen and (min-width: 900px){

    .main-header__heading{
        margin-top: 20px;
    }

}

/* lg */
@media only screen and (min-width: 1200px){

    .main-header__heading{
        font-size: 2rem;
    }
}

/* xl */
@media only screen and (min-width: 1600px){

    .main-header__heading{
        font-size: 45px;
    }

    .main-header__perex{
        font-size: 22px;
    }
}